body{
  font-family: Microsoft JhengHei;
  margin: 25px;
}

.TitleBlock{
  font-size: 200%
}

#regText{
  font-weight:bolder;
}

.userWrite{
  margin: 20px;
}

.inputDescription{
  font-size: 130%;
  font-weight:bold;
}

.input{
  color: black;
}
.input::placeholder{
  color: grey;
}


#submit_buttom{
  margin: 0px 20px;

  padding: 10px 26px;
  color: white;
  background-color: #4285F4;
  border-radius: 30px;

  font-size: 90%;
  border: none;
  text-align: center;

  cursor: pointer;
  display: inline-block;
}
#submit_buttom:hover{
  background-color: #346AC3;
}
