* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a background color for the entire page */
body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

/* Style the header */
header {
    background-color: #6f42c1;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.hot-sale{
    position:relative;
    display: flex;
    width:60%;
    left: 20%;
    height: 50px;
    justify-content:space-between;
    align-items: center;
    background-color: aquamarine;
}
.hot-sale p{
    position: relative;
    font-size: 18px;
}

.container{
    width: 70%;
    height: 380px;
    display: flex;
    position: relative;
    left: 15%;
    justify-content: center;
    gap: 20px;
}

.container img{
    width: 30%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid gray;
    transition: all ease-in-out 0.5s;
}

.container img:hover{
    width:50%;
}
/* Style the navigation menu */
nav{
    border-bottom: #333;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: right;
    background-color: #f9f9f9;
    padding: 0.5rem;
}

nav li {
    margin-right: 1rem;
}

nav a {
    text-decoration: none;
    color: #6f42c1  ;
}

/* Style the main content */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

/* Style the footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 45px;
    width: 100%;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
}